@import url('bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.0/css/all.css');
@import url('http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic');

.bodybkg {
    background-image: url('../../');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body {
    min-height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 90px;
}

.nav-bkg {
    background-color: #2C3E50
}

.nav-text{
    color: white !important;
    font-weight: bold !important;
}

.nav-text:hover {
    color: #FF2B16 !important;
}

.blue_zanardo {
    color: #2C3E50 !important;
}

.orange_zanardo {
    color: #FF2B16 !important;
}

.orange_zanardo_bg {
    background-color: #FF2B16;
}

.blue_zanardo_light_bg {
    background-color: #ECF0F1;
}

.font-lato {
    font-family: Lato;
}

.font-weight-900 {
    font-weight: 900;
}

.mt20px {
    margin-top: 20px
}

.mt60px {
    margin-top: 60px
}

.mt100px {
    margin-top: 100px
}

.mb100px {
    margin-bottom: 100px
}

.shadow-2 {
    box-shadow: 0px 2px 3px 2px grey !important;
}

.fs27pt {
    font-size: 27pt;
}

.fs35pt {
    font-size: 35pt;
}

.fs55pt {
    font-size: 55pt;
}

.mg-0 {
    margin: 0;
}

.lh60px {
    line-height: 60px
}

.bd_orange {
    border-color: #ff2b16;
}

.mt-5px {
    margin-top: -5px !important
}

.bg-white{
    background-color: white
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-9 {
    font-size: 9pt;
}

.font-10 {
    font-size: 10pt;
}

.font-11 {
    font-size: 11pt;
}

.font-12 {
    font-size: 12pt;
}

.font-14 {
    font-size: 14pt;
}

.font-16 {
    font-size: 16pt;
}

.font-17 {
    font-size: 17pt;
}

.font-19 {
    font-size: 19pt;
}

.font-20 {
    font-size: 20pt;
}

.font-30 {
    font-size: 30pt;
}

.bt {
    border-top: 1px solid #CCCCCC;
}

.bb {
    border-bottom: 1px solid #CCCCCC;
}

.bg-shadow {
    -webkit-box-shadow: 0px 2px 3px 1px grey !important;
    -ms-box-shadow: 0px 2px 3px 1px grey !important;
    box-shadow: 0px 2px 3px 1px grey !important;
}

.w-inherit {
    width: inherit !important;
}

.h-inherit {
    height: inherit !important;
}

.h-100p {
    height: 100% !important;
}

.h-400px {
    height: 400px !important;
}

.w-h-inherit {
    width: inherit !important;
    height: inherit !important;
}

.w-10 {
    width: 10px !important;
}

.w20 {
    width: 20px !important;
}

.w80 {
    width: 80px !important;
}

.r8 {
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.r10 {
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.r20 {
    -ms-border-radius: 20px;
    border-radius: 20px;
}

.ml-n-15 {
    margin-left: -15px;
}

.mr-n-15 {
    margin-right: -15px;
}

.mt-n-150 {
    margin-top: -150px;
}

.footer-pb {
    padding-bottom: 300px !important;
}

.footer-fixed {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.mr25 {
    margin-right: 25px;
}

@media only screen and (max-width: 768px) {
    .ft-pb {
        padding-bottom: 970px !important;
    }

    .nav-border-bottom {
        border-bottom: 1px solid #545382 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .ft-pb {
        padding-bottom: 530px !important;
    }
}


